

/* Estilos base para todos los dispositivos */
.baseContainer {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: row;
    gap: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
}

.goBackButton {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    color: var(--clr-primary-2);
}

.title {
    color: var(--clr-secondary-2);
    font-size: var(--fs-title);
    font-weight: 700;
    font-family: var(--ff-one);
}

/* Estilos específicos para móviles */
@media (max-width: 819px) {
    .mobileContainer {
        /* Los estilos específicos para móviles se mantienen aquí */
    }
}

/* Estilos comunes para todas las vistas de escritorio */
@media (min-width: 820px) {
    .desktopContainer {
        display: flex;
        width: 95%;
        height: 18rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 1.1rem;
        background-color: var(--clr-secondary-1);
        margin-inline: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        overflow: hidden;
    }

    .BannerImg {
        width: 50%;
        height: 100%;
        object-fit: contain;
        border-top-left-radius: 1.1rem;
        border-bottom-left-radius: 1.1rem;
       
    }

    .BannerTextBox {
        width: 41%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 4rem 3rem;
        gap: 0.8rem;
        font-family: var(--ff-one);
    }

    .BannerTitle {
    font-size: 50px;
    font-weight: 600;
    color: var(--clr-secondary-2);
    text-align: center;
    color: var(--clr-primary-2);
        font-family: var(--ff-two);
        font-style: italic;
        
    }
    .BannerMessage {
    font-size: var(--fs-title);
    font-weight: 500;
    color: var(--clr-secondary-2);
    text-align: center;
    text-wrap: pretty;
      
    }
}

    /* ... otros estilos de elementos específicos ... */


/* Ajustes de ancho para diferentes puntos de ruptura */
@media (min-width: 1440px) {
    .desktopContainer {
        width: 85%;
        height: 20rem;
    }

    /* ... ajustes adicionales para elementos específicos ... */
}

@media (min-width: 2000px) {
    .desktopContainer {
        width: 65%;
    }

    /* ... ajustes adicionales para elementos específicos ... */
}